*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Copperplate;
}
nav{
    background: rgb(0, 0, 199);
    height: 1000px;
    width: 100%;
}
label.logo{
    color: darkgray;
    font-size: 40px;
    line-height: 90px;
    padding: 0 590px;
    font-weight: bold;
    float: right;
    margin-right: 0px;
    background: blue;
    height: 100px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 65px;
}
nav ul li{
    display: inline-block;
    line-height: 150px;
    margin: 0 50px;
    float: left;
    margin-left: 175px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
ul h1{
    color: darkgray;
    font-size: 25px;
    padding: 20px 570px;
    border-radius: 3px;
    text-transform: uppercase; 
}
ul h5{
    color: darkgray;
    font-size: 15px;
    padding: 30px 730px;
    border-radius: 3px;
    text-transform: uppercase; 
}
ul h3{
    color: darkgray;
    font-size: 22px;
    padding: 18px 690px;
    border-radius: 3px;
    text-transform: uppercase; 
}
ul h4{
    color: darkgray;
    font-size: 18px;
    padding: 10px 520px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: rgb(255, 255, 255);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px; 
    }
    nav ul li a{
        font-size: 16px;
    }
}